body {
  margin: 0;
  padding: 0;
  font: 20px 'Baloo Paaji 2','cursive';
  /*background-color: #1c1d25;*/
  background-color: rgba(0, 0, 0);
  color: white;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
   -ms-user-select: none;
       user-select: none;
}

header{
  background-image: url('../images/bg1.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 5%;
}
.head-text{
  margin-top: 10%;
  margin-left: 10%;
  padding: 0 2%;
  border-left: 5px solid #ffbb33;
  border-radius: 10px;
 }
 .intro{
  display: flex;
}
.typing{
    position: relative; 
    margin-left: 10px;
}
.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid white;
    animation: blinker 0.5s infinite ease;
  }
@keyframes blinker{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.bck{
  background-color:rgba(0, 0, 0, 0.3);
}

.arrow{
  position: absolute;
  bottom: 35px;
  font-size: 35px;
  left: 48vw;
  z-index: 2;
  color: #ffbb33;
  animation: blink 3s infinite ease;
}

@keyframes blink{
  0%{
      opacity: 0;
      bottom: 35px;
  }
  50%{
    opacity: 1;
    bottom: 10px;
  }
  100%{
    opacity: 0;
    bottom: 35px;
  }
}

section{
  padding:5%;
 }

.liquid{
 padding: 5%;
 width: 50%;
 position: absolute;
 left: 0;
 z-index: -1;
 }
 .layer1{
  animation: rotate 10s infinite linear;
 }
 @keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
.layer2{
  animation: anti-rotate 10s infinite linear;
 }
 @keyframes anti-rotate {
  from {
      -webkit-transform: rotate(359deg);
  }
  to {
      -webkit-transform: rotate(0deg);
  }
}

.bg{
  background-image: url('../images/bg1.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}
.top, .foot,.bg-overlay{
 background-color: rgba(0, 0, 0, 0.5);
 overflow-x: hidden;
}
.bg-footer{
  background-image: url('../images/w2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.carousel-inner{
  text-align: center;
  padding: 3% 20% 0 20%;
}
.carousel-caption {
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffbb33;
}
.pad{  
  padding:3%;
}

.text{
  font-size: 10vh;
}
.head-img
{ 
  position: absolute;
  bottom: 0;
  right: 8%;
  width: 40%;
  min-width: 300px;
}

.icons{
  width: 80px;
  height: 80px;
}
.dot{
  margin: auto;
  padding: 3%;
  background-image: url("../images/liquid-wave1.svg");
  background-repeat: no-repeat;
}
.dot:hover{
  transition:all 0.4s ease-in-out;
  transform: scale(1.2);
}
.p-text{
  max-width: 800px;
  margin: auto;
  padding: 5%;
}
.about-section{
  margin-top: 8% ;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  /*background: linear-gradient(47deg,rgba(255, 255, 255, 0.1) 0%,rgba(0, 0, 0, 0.1) 60%);*/
  padding: 2%;
  /*border-radius: 5px;*/
 /* box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.404);*/
}
.about-img{
  background-image: url("../images/feather.svg");
  background-repeat: no-repeat;
}
.card-layout{
  border: 1px solid gray;
 /* background-color: rgba(255, 255, 255, 0.1);*/
  background: linear-gradient(47deg,rgba(255, 255, 255, 0.3) 0%,rgba(0, 0, 0, 0.3) 60%); 
  padding: 12%;
  border-radius: 5px;
  /*box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.404);*/
  transition: 0.2s ease-in-out;
}
.card-layout-img{
  margin-top: -110px;
  width: 200px;
  float:right;
}
.card-layout:hover{
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.7);
}
.card-layout:hover .card-layout-img{
  transition:all 0.3s ease-in-out;
  transform: scale(0.8);
}

.like-section{
 /* background: #303038; */
 background-color: rgba(0, 0, 0);
 padding: 50px 10%;
 height: auto;
}
hr{
  height: 0.5px;
  background-color: #fff;
}
p{
  margin: 0;
}
.fa-thumbs-up{
  margin: 20px 2px;
  color: #00acee;
}
.fa-heart{
  color: red;
  margin: 20px 2px;
  animation: heartbeat 0.5s infinite;
}
@keyframes heartbeat
{
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.fa-heart:hover{
  cursor: pointer;
  transition:all 0.4s ease-in-out;
  
}
.fa-heart:active{
  animation: none;
  transition:all 0.4s ease-in-out;
  transform: scale(1.2);
}
svg {
    height: 100%;
    width: 100%;
    
  }
  path{
    stroke: #fff;
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: pulse 2s infinite linear;

  }

@keyframes pulse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1050;
  }
}


/*--------------------------- footer ----------------------------------  */
.insta, .linkedin, .twitter{    /*----------Social icon button----------*/
  color: white;
  margin: 20px;   
  /*background: rgba(255, 255, 255, 0.192);*/
  background: linear-gradient(47deg,rgba(0, 0, 0, 0.9) 0%,rgba(255, 255, 255, 0.3) 84%); 
  border-radius: 80px;
  padding: 10px 24px;
  border: 1px solid gray;
  transition: 0.2s ease-in-out;
}
.insta:hover, .linkedin:hover, .twitter:hover {
    background:  linear-gradient(57deg,rgb(0, 0, 0),rgba(255, 255, 255, 0.1));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}
.a-tag:hover{
  text-decoration: none;
}

.insta-color{color:#dc3545;}
.linked-color{color: #0e76a8;}
.twit-color{color:#00acee;}
/*---------------------------! footer ----------------------------------  */


/*------------------- media screen style ----------------------------------- */

@media screen and (max-width:768px){
  .head-text{
    margin:auto;
    padding:48px;
    border:none;
    text-align: center;
   }
   .font-size{
     font-size: 25px;
   }
  .insta, .linkedin, .twitter{
    margin: 0 5px;   
    padding: 10px;
 }      
}

@media screen and (max-width:415px){

 .insta, .linkedin, .twitter{
        margin: 0 5px;   
        padding: 10px 15px;
        font-size: 13px ;
      }     
      .head-text{
        margin-top: 0;
      }   
      .icons{
        width: 50px;
        height: 50px;
      }
     .dot{
        padding:10% 5%;
      }
}
/*-------------------! media screen style ----------------------------------- */





